9<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>This page belongs to <%= data.name %></h2>
    <button>Follow</button>
    <button>Message</button>

    <p>Followers: <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp;
    Following: <%= data.following %></p>
    <hr>
    <% for (let data of data.posts){ %>
        <img src="<%= data.image %>" alt="some img">
    <% }%>

    <p>Likes: <%= data.likes %> &nbsp; &nbsp; &nbsp; &nbsp;
    Comments: <%= data.comments %></p>
</body>
</html>